@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

h1 {
  margin: 0;
}

.mainGrid {
  background-color: rgb(75, 156, 211, 0.5);
  border-radius: 10px;
}

.MuiAutocomplete-inputRoot {
  background-color: rgba(238, 238, 238, 0.281);
  width: 500px;
}
.a1 {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
}

.img {
  background-image: url("./uncpic2.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 23px;
}

.img2 {
  background-image: url("./uncpic2.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 8%;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  color: rgb(88, 179, 231);
  text-shadow: 2px 1px white;
  font-weight: bold;
}

.about {
  font-family: "Cinzel", serif;
  color: aliceblue;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  padding-top: 25px;
}

.heading {
  font-family: "Cinzel", serif;
  color: rgb(75, 156, 211, 1);
  text-shadow: 2px 5px 3px rgb(118, 118, 118);
}

.MuiTabs-flexContainer {
  background-color: rgb(19, 41, 75);
}

.title {
  padding-left: 20px;
}

.user-img {
  background-color: rgb(225, 225, 225);
}

.title {
  font-family: "Cinzel", serif;
  font-weight: bold;
  color: rgb(0, 44, 73);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  padding-top: 20px;
  margin-top: auto;
  font-size: 40px;
}

.gridHeading {
  font-family: "Gelasio", serif;
}

.Grid {
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Merriweather", serif;
  font-size: 20px;
}
.aboutGrid {
  background-color: "transparent";
}

.aboutText {
  color: white;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 1);
  font-weight: bold;
  font-family: "Merriweather", serif;
  font-size: 25px;
}
